<section>
  <div class="flex flex-wrap align-items-center justify-content-center m-4">
    <div class="w-full">
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <h3>Angular Tree - Prime NG</h3>
        </div>

        <div class="p-toolbar-group-right">
          <p-button icon="pi pi-search" styleClass="mr-1"></p-button>
          <p-button
            icon="pi pi-calendar"
            styleClass="p-button-success mr-1"
          ></p-button>
          <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
        </div>
      </p-toolbar>
    </div>
    <div class="w-full mt-5">
      <p-card>
        <p-fieldset legend="Modelo de Avaliação">
          <div>
            <div style="margin-bottom: 1rem">
              <button
                pButton
                type="button"
                label="Expandir Tudo"
                (click)="expandAll()"
                style="margin-right: 0.5rem"
                class="p-button-warning"
              ></button>
              <button
                pButton
                type="button"
                label="Minimizar Tudo"
                (click)="collapseAll()"
                class="p-button-success"
              ></button>
            </div>
            <p-tree
              [contextMenu]="cm"
              [value]="files"
              layout="horizontal"
              selectionMode="single"
              [(selection)]="selectedNode"
            ></p-tree>
          </div>
        </p-fieldset>
      </p-card>
    </div>
  </div>
</section>
<p-contextMenu #cm [model]="items"></p-contextMenu>
